.contact{
    background-color:  rgba(240, 248, 255, 0.473) ;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px ;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 80px;
    padding-top: 20px;
    width: fit-content;
    height: fit-content;
    

}



#inp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(240, 248, 255, 0.5);
    margin: 50px 50px;
    border-radius: 20px;
    padding: 30px;
    width: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dd{
    width: 500px;
    height: 80px;
    border-radius: 8px;
    font-size: 24px;
}
#dd:focus{
    border: 5px solid rgba(47, 0, 255, 0.692);
}
#color{
    width: 250px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}
#Payment{
    width: 250px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}
#submit{
    font-size: 30px;
    width: 200px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius:8px ;
    
}
#submit:hover{
    background-color: lightblue;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    border: none;


}



#download{
    background-color: black;
    font-size: 20px;
    width: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
}
#download:hover{
    background-color: lightblue;
    color: black;
    cursor: pointer;
    transition: 0.5s;


}

#formandparagraph{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 100px;
}
#para{
    font-size: 70px;
    color: whitesmoke;
    font-weight: bold;
}
@media (min-width:900px) and (max-width:3000px){
    .contact, #para {
        overflow: auto;
        display: flex;
        
    }

}
#logoandphrase{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
#logoandphrase{
    @media (min-width:950px) and (max-width:1500px) {
        display: flex;
        flex-direction: column;
        
    }
}

